name: "CI/CD"
on: [push]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  CI:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Ubuntu
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            flags: '--all-features'
          - name: WASM32
            os: ubuntu-latest
            target: wasm32-unknown-unknown
            flags: '--all-features --lib'
          - name: Windows
            os: windows-latest
            target: x86_64-pc-windows-msvc
            flags: '--all-features'
          - name: macOS
            os: macos-latest
            target: x86_64-apple-darwin
            flags: '--all-features'
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: "[SETUP] checkout repository"
        uses: actions/checkout@v2
      - name: "[SETUP] install toolchain"
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: "[SETUP] install build dependencies (Ubuntu)"
        if: matrix.name == 'Ubuntu'
        run: sudo apt update && sudo apt install libgtk-3-dev
      - name: "[SETUP] install build dependencies (WASM32)"
        if: matrix.name == 'WASM32'
        run: |
          sudo apt update && sudo apt install binaryen
          rustup target add wasm32-unknown-unknown
          cargo install wasm-bindgen-cli --version $(cargo pkgid wasm-bindgen | grep -Po '(?<=#wasm-bindgen[@,:])(.*)')
      - name: "[LINT] fmt"
        run: |
          rustup component add rustfmt
          cargo fmt --all -- --check
      - name: "[LINT] clippy"
        run: |
          rustup component add clippy
          cargo clippy --target ${{ matrix.target }} ${{ matrix.flags }} -- -D warnings
      - name: "[BUILD] build (Ubuntu, Windows, MacOS)"
        if: matrix.name != 'WASM32'
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target ${{ matrix.target }} ${{ matrix.flags }}
      - name: "[BUILD] build (WASM32)"
        if: matrix.name == 'WASM32'
        run: ./build_web.sh
      - name: "[BUILD] cache results (WASM32)"
        if: ${{ matrix.name == 'WASM32' && github.ref == 'refs/heads/main' }}
        uses: actions/cache@v3
        with:
          path: dist
          key: BUILD_${{ matrix.name }}_${{ github.sha }}
      - name: "[TEST] install test dependencies (Ubuntu)"
        if: matrix.name == 'Ubuntu'
        run: sudo apt update && sudo apt install libgtk-3-dev
      - name: "[TEST] run tests (Ubuntu, Windows, MacOS)"
        if: matrix.name != 'WASM32'
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target ${{ matrix.target }} ${{ matrix.flags }}
  CD:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: CI
    runs-on: ubuntu-latest
    steps:
      - name: "checkout repository"
        uses: actions/checkout@v2
      - name: "retrieve build from cache"
        id: cache
        uses: actions/cache@v3
        with:
          path: dist
          key: BUILD_WASM32_${{ github.sha }}
      - name: "(exit on cache miss)"
        if: steps.cache.outputs.cache-hit != 'true'
        run: exit 1
      - name: "deploy to gh-pages"
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
