name: CI
on: [push]
jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v2
      - name: "Install toolchain"
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: "Rustfmt"
        run: |
          rustup component add rustfmt
          cargo fmt --all -- --check
  validation:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Ubuntu
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            flags: '--all-features'
          - name: Windows
            os: windows-latest
            target: x86_64-pc-windows-msvc
            flags: '--all-features'
          - name: macOS
            os: macos-latest
            target: x86_64-apple-darwin
            flags: '--all-features'
          - name: WASM32
            os: ubuntu-latest
            target: wasm32-unknown-unknown
            flags: '--all-features --lib'
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v2
      - name: "Install toolchain"
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: "[WASM] Add target"
        if: matrix.name == 'WASM32'
        run: rustup target add wasm32-unknown-unknown
      - name: "[Ubuntu] Install build dependencies"
        if: matrix.name == 'Ubuntu'
        run: sudo apt update && sudo apt install libgtk-3-dev
      - name: "Build"
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target ${{ matrix.target }} ${{ matrix.flags }}
      - name: "[Ubuntu] Install test dependencies"
        if: matrix.name == 'Ubuntu'
        run: sudo apt-get install libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libspeechd-dev libxkbcommon-dev libssl-dev
      - name: "Test"
        # FIXME
        if: matrix.name != 'WASM32'
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target ${{ matrix.target }} ${{ matrix.flags }}
      - name: "Clippy"
        run: |
          rustup component add clippy
          cargo clippy --target ${{ matrix.target }} ${{ matrix.flags }} -- -D warnings
